body{
  background: #25383C;
  text-align: center;
}

div.random{
  text-align: center;
  font-weight: bold;
  background-color: #3D2639;
  border: 3px solid deepskyblue;
  padding: 20px;
  margin: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -125px;
  width: 200px;
  height: 200px;
  
}

button{
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: rgb(39, 13, 155);
  text-transform: uppercase;
  margin: 20px;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float:center;
}


li {
  background-color: rgb(14, 105, 224);
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

